{% extends 'admin/admin.html.twig' %}

{% block title %}
    {% trans %}Companies{% endtrans %}
{% endblock %}

{% block content %}
    <div class="content-padding flex">
        <div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <a href="{{ orders.id }}" class="table-order">
                                    {% trans %}ID{% endtrans %}
                                    {% if orderBy == 'id'  %}
                                        <i class="fas fa-sort-{{ orderAs }}"></i>
                                    {% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="{{ orders.name }}" class="table-order">
                                    {% trans %}Name{% endtrans %}
                                    {% if orderBy == 'name'  %}
                                        <i class="fas fa-sort-{{ orderAs }}"></i>
                                    {% endif %}
                                </a>
                            </th>
                            <th>{% trans %}Address{% endtrans %}</th>
                            <th>{% trans %}Location{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                            <tr data-href="{{ path('app_company', { 'slug': company.slug }) }}">
                                <td data-label="{% trans %}ID{% endtrans %}">{{ company.id }}</td>
                                <td data-label="{% trans %}Name{% endtrans %}">{{ company.name }}</td>
                                <td data-label="{% trans %}Address{% endtrans %}">{{ company.address }}</td>
                                <td data-label="{% trans %}Location{% endtrans %}">{{ company.zipCode }}, {{ company.city }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if companies is empty %}
                    Geen zoekresultaten
                {% endif %}
            </div>
            <div class="pagination">
                <a href="{{ path('app_companies', { 'page': page - 1 }|merge(app.request.query.all)) }}" class="arrow {{ page <= 1 ? 'disabled' }}">
                    <i class="fas fa-angle-left"></i>
                </a>
                <span class="page">{{ page }}/{{ total }}</span>
                <a href="{{ path('app_companies', { 'page': page + 1 }|merge(app.request.query.all)) }}" class="arrow {{ page >= total ? 'disabled' }}">
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="filter">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
