{% extends 'admin/admin.html.twig' %}

{% block title %}
    {% trans %}Companies{% endtrans %}
{% endblock %}

{% block content %}
    <div class="content-padding flex">
        <div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>{% trans %}ID{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Address{% endtrans %}</th>
                            <th>{% trans %}Location{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                            <tr data-href="{{ path('app_company', { 'slug': company.slug }) }}">
                                <td data-label="{% trans %}ID{% endtrans %}">{{ company.id }}</td>
                                <td data-label="{% trans %}Name{% endtrans %}">{{ company.name }}</td>
                                <td data-label="{% trans %}Address{% endtrans %}">{{ company.address }}</td>
                                <td data-label="{% trans %}Location{% endtrans %}">{{ company.zipCode }}, {{ company.city }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if companies is empty %}
                    Geen zoekresultaten
                {% endif %}
            </div>
            <div class="pagination">
                <a href="{{ path('app_companies', { 'page': page - 1 }|merge(app.request.query.all)) }}" class="arrow {{ page <= 1 ? 'disabled' }}">
                    <i class="fas fa-angle-left"></i>
                </a>
                <span class="page">{{ page }}/{{ total }}</span>
                <a href="{{ path('app_companies', { 'page': page + 1 }|merge(app.request.query.all)) }}" class="arrow {{ page >= total ? 'disabled' }}">
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>
        <form class="filter">
            <label for="search" class="spacer">{% trans %}Search{% endtrans %}</label>
            <input type="text" name="search" id="search" value="{{ filters.search }}"/>
            <span class="spacer">{% trans %}Levels{% endtrans %}</span>
            {% for level in levels %}
                <label>
                    <input type="checkbox" name="level[]" value="{{ level.slug }}" {{ level.slug in filters.level ? 'checked' }}/> {{ level.name }}
                </label>
            {% endfor %}
            <span class="spacer">{% trans %}Materials{% endtrans %}</span>
            {% for material in materials %}
                <label>
                    <input type="checkbox" name="material[]" value="{{ material.slug }}" {{ material.slug in filters.material ? 'checked' }}/> {{ material.name }}
                </label>
            {% endfor %}
            <span class="spacer">{% trans %}Methods{% endtrans %}</span>
            {% for method in methods %}
                <label>
                    <input type="checkbox" name="method[]" value="{{ method.slug }}" {{ method.slug in filters.method ? 'checked' }}/> {{ method.name }}
                </label>
            {% endfor %}
            <span class="spacer"></span>
            <button type="submit">{% trans %}Filter{% endtrans %}</button>
        </form>
    </div>
{% endblock %}
